.login{
    background-image: url('/image/daftar.png');
    background-size: cover;
    height: 100%;
}

.login-card{
    margin-top: 40%;
}

.link-home{
    color: hsl(0, 0%, 60%);
    font-size: 20px;
}