.title-cart{
    font-weight: 600;
    font-family: 'Poppins';
}
.kotak-count{
    width: 40%;
    margin-left: 140px !important;
}
.btn-ck{
    font-weight: 600;
    text-align: center;
}
.tanda-minus{
    margin-top: -12px!important;
    margin-left: 1px;
}