.text-category{
    margin-top: 40px!important;
    margin-bottom: 60px!important;
}
.touch{
    &:hover a{
        opacity: 1;
        visibility: visible;
    }
}
.title{
    line-height: 40px;
}
.is-three-fifths{
    width: 58%!important;
}
.bg-right{
    background-color:#FAFAFA;
}