.pd{
    font-family: 'Poppins';
    margin-top: 60px;
}

.pd .price_text{
    color: #00539F;
    margin-top: -20px!important;
    margin-bottom: 10px!important;
}
.cat_text{
    color:#00539F; 
    float:right; 
    width:85%;
}
.table{
    width: 80%;
}
.kotak-input{
    width: 20%;
    text-align: center;
    border-style: none;
}
.count{
    color: grey!important;
    text-align: center;
}
.btn-count{
    width: 25%;
}
.ac{
    font-weight: 600;
    text-align: center;
}