.text-chart{
    color: #00539F!important;
    font-weight: 700;
    visibility: hidden;
}
.product_item{
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.5s;
    -webkit-tap-highlight-color: transparent;
    &:hover
    {
        border-radius: 0.25rem;
        box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
        color: #4a4a4a;
        max-width: 100%;
        overflow: hidden;
        position: relative;
        .card-image{
            background-color: #FCF9F5;
            transition: 0.5s;
        }
        .product_text{
            padding: 12px;
            transition: 0.3s;
        }
        .text-chart{
            opacity: 1;
            visibility: visible;
            transition: 0.3s;
        }
    }
}