.hr-pesanan{
    color: #c4c4c4!important;
    border-bottom: 1px solid;
    margin-top: 12px;
    margin-bottom: 10px;
}
.font-th{
    font-family:serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}
.font-tfoot{
    font-family: 'Poppins';
    font-weight: 600;
    color: #1A1A1A;
    font-size: 18px;
}